@font-face {
  font-family: "Product-Sans";
  /* 定义字体名 */
  src: url("../font/Product-Sans.ttf");
  /* 引入本体字体文件 */
}

@font-face {
  font-family: "iconfont";
  /* Project id 3993956 */
  src: url('./font/iconfont.woff2?t=1680511106479') format('woff2'),
    url('./font/iconfont.woff?t=1680511106479') format('woff'),
    url('./font/iconfont.ttf?t=1680511106479') format('truetype');
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}